* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
  }
  .mobile-menu {
    display: block;
    width: 100%;
    background: #db7134; /*aca cambion color al menu*/
    line-height: 1.6em;
    font-weight: 400;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }

  .mobile-menu ul {
    border: 0.15rem solid black;
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
    text-align: left;
    width: 100%;
    position: absolute;
    background: #db7134;
  }
  
 
  .mobile-menu li {
    display: inline-block;
  
  }
  
  .mobile-menu li a {
    display: block;
    min-width: 140px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    text-transform: normal;
    background: #db7134;
    text-decoration: none;
    margin-left: -5px;
    padding: 10px 0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
 
  .mobile-menu li:hover a {
    color: rgba(0, 0, 0, 0.5);
    background-color: lightgray;
  }
  
  .mobile-menu li:hover ul a {
    background: white;
    color: black;
    height: 40px;
    line-height: 40px;
  }
  
  .mobile-menu li:hover .mobile-menu ul a:hover {
    color: lightgray;
  }
  
  .mobile-menu li ul {
    display: none;
  }
  
  .mobile-menu li ul li {
    display: block;
    float: none;
  }
  
  .mobile-menu li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
  }
  
  .mobile-menu .show-menu {
    text-decoration: none;
    color: black;
    background: white;
    text-align: center;
    padding: 10px 15px;
    display: none;
    cursor: pointer;
    text-transform: normal;
  }
  
  .mobile-menu .show-menu span {
    padding-left: 2em;
    text-align: left;
  }
  
  .mobile-menu input[type="checkbox"] {
    display: none;
  }
  
  .mobile-menu input[type="checkbox"]:checked ~ #menu {
    display: block;
  }
  
  /*Responsive Styles*/
  
  @media screen and (max-width: 767px) {
    .mobile-menu .lines {
      border-bottom: 15px double black;
      border-top: 5px solid black;
      content: "";
      height: 5px;
      width: 20px;
      padding-right: 15px;
      float: left;
    }
  
    .mobile-menu ul {
      position: static;
      display: none;
    }
    
    .mobile-menu li {
      margin-bottom: 0;
    }
  
    .mobile-menu ul li,
    .mobile-menu li a {
      width: 100%;
    }
  
    .mobile-menu .show-menu {
      display: block;
    }
  }
  
  .container {
    padding-top: 0px;
    padding-left: 30px;
    padding-bottom: 10px;
    text-align: center;
  }
  
  h1, h2, h3 {
    font-weight: normal;
    line-height: 1.25;
  }


  .column {
    flex: 50%;
    padding: 10px;
  }

  .column2{
    flex: 20%;
    padding: 10px;
  }
  
  .columntitle {
    flex: 75%;
    padding: 10px;
  }

  .columnimage {
    flex: 25%;
    padding: 10px;
  }

  .row {
    display: flex;
  }

/* para responsive tablas */

table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #db7134; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	

	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
	
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
	
		position: absolute;

		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}
/* para responsive formulario*/

/*uso de medias queries */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); /* Fuente para login */

.bodyLogin { /* Selector para body del login y registro tipo clase*/
  font-family: 'Open Sans', sans-serif;
  background: #f9faff;
  color: #3a3c47;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

  .h1Login { /* selector para titulos login y registro tipo clase */
    margin-top: 48px;
  }

.formLogin {/* selectro para form login y registro tipo clase */
  background: #fff;
  max-width: 360px;
  width: 100%;
  padding: 58px 44px;
  border: 1px solid #e1e2f0;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
  transition: all 0.3s ease;
}

.rowLogin { /* selector para crear filas en registro y login tipo clase */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.rowLogin label {/* aplicamos estilos a todos los label dentro de las filas del selector clase */
  font-size: 13px;
  color: #8086a9;
}

.rowLogin input { /* selector para crear filas en registro y login tipo clase */
  flex: 1;
  padding: 13px;
  border: 1px solid #d6d8e6;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
}

.rowLogin input:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.rowLogin input::placeholder {
  color: #C8CDDF;
}

.buttonLogin {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background: #884d09;
  color: rgb(250, 248, 246);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  transition: background 0.2s ease-out;
}

.buttonLogin:hover {
  background: #d39855;
}

@media(max-width: 458px) { /* Media query para responsive del login y registro */
  
  .bodyLogin {
    margin: 0 18px;
  }
  
  .formLogin {
    background: #f9faff;
    border: none;
    box-shadow: none;
    padding: 20px 0;
  }
}


/* Centrando y ajustando titulo login */

.tituloLogin{ /*Selector a traves de clase*/
  text-align: center;
  margin-top: 0%;
  padding-top: 0%;
}

/* Se crea el enlace a registrar */
.enlaceRegistrar{
  padding-top: 10px !important;
}